.git
.github
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.env
.env.local
.env.*.local
db.sqlite
database/database.sqlite
tests
README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml
